html,
body {
  padding: 0;
  margin: 0;
  background: #ebf0f4;
}

a {
  color: inherit;
  text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

html,
body {
  position: fixed;
  overflow: hidden;
}

* {
  font-family: SFRounded, ui-rounded, SF Pro Rounded, system-ui, Helvetica Neue,
    Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

input {
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

.react-modal-sheet-backdrop {
  pointer-events: initial !important;
}
.react-modal-sheet-container {
  border-radius: 40px 40px 0 0 !important;
  box-shadow: none !important;
  color: white !important;
}
.react-modal-sheet-header {
  /* custom styles */
}
.react-modal-sheet-drag-indicator {
  /* custom styles */
}
.react-modal-sheet-content {
  /* custom styles */
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  height: 100%;
}
.embla__slide {
  flex: 0 0 100%;
  height: 100%;
}
